<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag("favicon.png") %>
  <title>InstagramCopy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <section class="function container-fluid">
      <div class="row">
        <div class="function-images">
          <div class="col-xs-2 col-xs-offset-1">
              <div class="function-image">
                  <a href="/"><img src="<%= asset_path "home.png" %>"></a>
              </div>
          </div>
          <div class="col-xs-2">
              <div class="function-image">
                  <img src="<%= asset_path "search.png" %>">
              </div>
          </div>
          <div class="col-xs-2">
              <div class="function-image">
                  <a href="/pictures/new"><img src="<%= asset_path "camera.png" %>"></a>
              </div>
          </div>
          <div class="col-xs-2">
              <div class="function-image">
                  <img src="<%= asset_path "big_heart.png" %>">
              </div>
          </div>
          <div class="col-xs-2">
              <div class="function-image">
                  <a href="/users/edit"><img src="<%= asset_path "user.png" %>"></a>
              </div>
          </div>
        </div>
      </div>
    </section>
  </header>
  <p class="flash"><%= notice %><%= alert %></p>

<%= yield %>

</body>
</html>
